<div class="grid grid-cols-2 gap-4 md:grid-cols-2 lg:grid-cols-3">
  <!-- Test Blocks -->
  <div class="bg-white shadow-lg rounded-lg p-6">
    <h2 class="text-xl font-semibold text-gray-900">Test Block 1</h2>
    <p class="text-gray-500 mt-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>

  <div class="bg-white shadow-lg rounded-lg p-6">
    <h2 class="text-xl font-semibold text-gray-900">Test Block 2</h2>
    <p class="text-gray-500 mt-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Dolorem quasi ratione eius nam iste
      corporis obcaecati harum mollitia alias? Explicabo delectus temporibus
      molestiae sequi ut assumenda illum amet sapiente totam?
    </p>
  </div>

  <div class="bg-white shadow-lg rounded-lg p-6">
    <h2 class="text-xl font-semibold text-gray-900">Test Block 2</h2>
    <p class="text-gray-500 mt-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
  <app-product-card></app-product-card>
</div>
