<section class="py-2 bg-white antialiased">
  <div class="max-w-screen-2xl px-5 mx-auto 2xl:px-0">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
      <div class="shrink-0 w-full aspect-[4/3] mx-auto">
        @if (pageLoading) {
        <p-skeleton styleClass="mb-2 " height="100%" width="100%" />
        } @else {
        <p-image
          class="w-full object-contain"
          src="/tomatoes-transformed.jpeg"
          alt="{{ name }} image"
          [preview]="true"
        />}
      </div>
      <div class="mt-6 sm:mt-8 lg:mt-0">
        @if (pageLoading) {
        <p-skeleton
          styleClass="mb-2 text-xl  sm:text-3xl"
          height="1.2em"
          width="80%"
        />
        } @else {
        <h1 class="text-xl font-semibold text-gray-900 sm:text-3xl">
          {{ name }}
        </h1>
        }
        <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
          @if (pageLoading) {
          <p-skeleton
            styleClass="mb-2 text-2xl  sm:text-3xl"
            height="1.2em"
            ngClass="w-full sm:w-1/2"
            [style]="{ width: '70%' }"
          />
          }@else {
          <p class="text-2xl font-extrabold text-gray-900 sm:text-3xl">
            {{ getPrice() }}
          </p>
          } @if (pageLoading) {
          <p-skeleton
            styleClass="mb-2 text-2xl sm:text-3xl"
            height="1.25rem"
            ngClass="w-full"
            [style]="{ width: '55%' }"
          />
          } @else if (reviews > 4) {
          <div class="flex items-center gap-2 mt-2 sm:mt-0">
            <p-rating [readonly]="true" [(ngModel)]="rating">
              <ng-template #onicon>
                <svg
                  class="h-4 w-4 text-yellow-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z"
                  />
                </svg>
              </ng-template>
              <ng-template #officon>
                <svg
                  class="h-4 w-4 text-gray-300"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M13.8 4.2a2 2 0 0 0-3.6 0L8.4 8.4l-4.6.3a2 2 0 0 0-1.1 3.5l3.5 3-1 4.4c-.5 1.7 1.4 3 2.9 2.1l3.9-2.3 3.9 2.3c1.5 1 3.4-.4 3-2.1l-1-4.4 3.4-3a2 2 0 0 0-1.1-3.5l-4.6-.3-1.8-4.2Z"
                  />
                </svg>
              </ng-template>
            </p-rating>
            <p
              class="text-sm font-medium leading-none text-gray-500 dark:text-gray-400"
            >
              ({{ rating }})
            </p>
            <a
              class="text-sm font-medium leading-none text-gray-900 underline hover:no-underline dark:text-white"
            >
              {{ reviews }} Reviews
            </a>
          </div>
          }
        </div>

        <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
          <button
            pRipple
            class="flex w-full sm:w-fit items-center disabled:bg-gray-100 disabled:text-gray-300 cursor-pointer select-none justify-center py-2.5 px-5 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700"
            [disabled]="pageLoading"
          >
            <i
              class="pi pi-heart me-2"
              [style]="{ 'font-size': '0.875rem' }"
            ></i>

            Add to favorites
          </button>
          <p-menu #menu [model]="userBags" appendTo="body" [popup]="true" />
          <button
            class="text-white w-full sm:w-fit mt-4 disabled:bg-orange-100 sm:mt-0 cursor-pointer select-none bg-orange-400 hover:bg-orange-500 font-medium rounded-lg text-sm px-5 py-2.5 flex items-center justify-center"
            (click)="menu.toggle($event)"
            [disabled]="pageLoading"
            pRipple
          >
            <i
              class="pi pi-shopping-bag me-2"
              [style]="{ 'font-size': '0.875rem' }"
            ></i>

            Add to bag
            <i
              class="pi pi-chevron-down ms-2"
              [style]="{ 'font-size': '0.875rem' }"
            ></i>
          </button>
        </div>

        <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />

        @if (pageLoading) {
        <p-skeleton styleClass="mb-2 text-2xl sm:text-3xl" height="1.25rem" />
        <p-skeleton styleClass="mb-2 text-2xl sm:text-3xl" height="1.25rem" />
        <p-skeleton styleClass="mb-2 text-2xl sm:text-3xl" height="1.25rem" />
        <p-skeleton styleClass="mb-2 text-2xl sm:text-3xl" height="1.25rem" />
        }@else {
        <p class="mb-6 text-gray-600">
          {{ shortDescription }}
        </p>

        }
      </div>
      <div class="lg:col-span-2 lg:px-2 py-4">
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.core.css"
        />
        <link
          href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css"
          rel="stylesheet"
        />

        <quill-view [content]="longDescription" format="html"></quill-view>
      </div>
    </div>
  </div>
</section>
