<section class="bg-white py-6 antialiased">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    <div class="grid gap-4 grid-cols-12">
      <div class="col-span-full md:col-span-8">
        @if (!pageLoading) {
        <p-table
          [value]="bag!.items"
          size="small"
          selectionMode="multiple"
          [(selection)]="selectedItems"
          dataKey="id"
          #dt
          [rowHover]="true"
        >
          <ng-template #caption>
            <div class="flex flex-wrap h-10">
              <h2
                class="text-xl flex-grow font-semibold text-gray-900 sm:text-2xl"
              >
                {{ bag?.name }}
              </h2>

              @if (selectedItems && selectedItems.length < 2) {
              <p-button
                label="{{ isMobile ? '' : 'Edit' }}"
                severity="contrast"
                rounded="{{ isMobile ? 'circle' : '' }}"
                text
                icon="pi pi-pencil"
                size="small"
              />
              } @if (selectedItems){

              <p-button
                label="{{ isMobile ? '' : 'Remove' }}"
                severity="danger"
                rounded="{{ isMobile ? 'circle' : '' }}"
                text
                icon="pi pi-trash"
                size="small"
                (onClick)="onRemoveItems(selectedItems)"
              />
              }
            </div>
          </ng-template>
          <ng-template #header>
            <tr>
              <!-- <th style="width: 3rem"></th> -->
              <th>Name</th>
              <th>Qty</th>
              <th>Price(LKR)</th>
            </tr>
          </ng-template>
          <ng-template #body let-item>
            <tr [pSelectableRow]="item">
              <!-- <td>
                <p-tableRadioButton [value]="item"></p-tableRadioButton>
              </td> -->
              <td>{{ item.name }}</td>
              <td>{{ item.buyingQuantity }}{{ item.measurementType }}</td>
              <td>
                {{ getItemPrice(item) }}

                @if(item.discountPercentage){
                <span class="line-through text-red-500 font-medium">{{
                  getItemPrice(item, false)
                }}</span>
                }
              </td>
            </tr>
          </ng-template>
        </p-table>
        }@else {
        <p-skeleton styleClass="mb-2" height="500px" />
        }
      </div>
      <div class="col-span-full md:col-span-4">
        @if (!pageLoading) {
        <div class="mt-6 space-y-6 lg:mt-0">
          <div
            class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6"
          >
            <p class="text-xl font-semibold text-gray-900 dark:text-white">
              Order summary
            </p>

            <div class="space-y-4">
              <div class="space-y-2">
                <dl class="flex items-center justify-between gap-4">
                  <dt
                    class="text-base font-normal text-gray-500 dark:text-gray-400"
                  >
                    Original price
                  </dt>
                  <dd
                    class="text-base font-medium text-gray-900 dark:text-white"
                  >
                    {{ getOriginalPrice(bag!) | currency : "LKR " }}
                  </dd>
                </dl>

                <dl class="flex items-center justify-between gap-4">
                  <dt
                    class="text-base font-normal text-gray-500 dark:text-gray-400"
                  >
                    Savings
                  </dt>
                  <dd class="text-base font-medium text-green-600">
                    -{{ getTotalSavings(bag!) | currency : "LKR " }}
                  </dd>
                </dl>

                <dl class="flex items-center justify-between gap-4">
                  <dt
                    class="text-base font-normal text-gray-500 dark:text-gray-400"
                  >
                    Service Fee
                  </dt>
                  <dd
                    class="text-base font-medium text-gray-900 dark:text-white"
                  >
                    {{ getServiceFee(bag!) | currency : "LKR " }}
                  </dd>
                </dl>
              </div>

              <dl
                class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700"
              >
                <dt class="text-base font-bold text-gray-900 dark:text-white">
                  Total
                </dt>
                <dd class="text-base font-bold text-gray-900 dark:text-white">
                  {{ getNetTotal(bag!) | currency : "LKR " }}
                </dd>
              </dl>
            </div>
            <button
              [disabled]="!bag || bag.items.length === 0"
              class="flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none disabled:opacity-50 disabled:cursor-not-allowed"
            >
              Proceed to Checkout
            </button>

            <div class="flex items-center justify-center gap-2">
              <span
                class="text-sm font-normal text-gray-500 dark:text-gray-400"
              >
                or
              </span>
              <a
                routerLink="/"
                title=""
                class="inline-flex items-center gap-2 text-sm font-medium text-primary-700 underline hover:no-underline dark:text-primary-500"
              >
                Continue Shopping
                <svg
                  class="h-5 w-5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M19 12H5m14 0-4 4m4-4-4-4"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>

        } @else {
        <p-skeleton styleClass="mb-2" height="300px" />
        }
      </div>
    </div>
  </div>
</section>
