<form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
  <div formArrayName="schedule">
    @for (scheduleItem of schedule.controls; track $index) {
    <div class="grid grid-cols-12 gap-2" [formGroupName]="$index">
      <p-select
        [options]="conditions"
        optionLabel="name"
        placeholder="Condition"
        size="small"
        class="col-span-5"
        formControlName="condition"
        (onChange)="onConditionChange($index)"
      />

      @switch (scheduleItem.get('type')?.value) { @case ('date') {

      <p-datepicker
        [iconDisplay]="'input'"
        [showIcon]="true"
        class="col-span-6"
        formControlName="value"
        placeholder="Select Date"
        [size]="'small'"
        [style]="{ height: '34px' }"
      />

      } @case ('numeric') {
      <p-select
        [options]="numericValues"
        optionLabel="name"
        placeholder="Frequency"
        size="small"
        class="col-span-6"
        [filter]="true"
        filterBy="name"
        formControlName="value"
        scrollHeight="160px"
      />
      } @default {
      <p-select
        [options]="days"
        optionLabel="name"
        placeholder="Frequency"
        size="small"
        class="col-span-6"
        [filter]="true"
        filterBy="name"
        formControlName="value"
      />
      } }

      <div class="flex flex-wrap gap-4 px-1 col-span-12 md:col-span-6">
        @if (scheduleItem.get('condition')?.value.value === 'every' ||
        scheduleItem.get('condition')?.value.value === 'exclude') {
        <div class="flex items-baseline gap-1">
          <p-radiobutton
            formControlName="type"
            value="day"
            inputId="day-input"
          />
          <label for="day-input" class="text-sm leading-none"> by Day </label>
        </div>
        } @if (scheduleItem.get('condition')?.value.value === 'every' ||
        scheduleItem.get('condition')?.value.value === 'exclude') {
        <div class="flex items-baseline gap-1">
          <p-radiobutton
            formControlName="type"
            value="numeric"
            inputId="numeric-input"
          />
          <label for="numeric-input" class="text-sm leading-none">
            by Numeric
          </label>
        </div>
        }
        <!-- by Date -->
        @if (scheduleItem.get('condition')?.value.value !== 'every' ) {
        <div class="flex items-baseline gap-1">
          <p-radiobutton
            formControlName="type"
            value="date"
            inputId="date-input"
          />
          <label for="date-input" class="text-sm leading-none"> by Date </label>
        </div>
        }
      </div>
    </div>
    }
  </div>
  <button type="submit">Submit</button>
</form>
