<footer>
  <div class="mx-auto w-full p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="#" class="flex items-center">
          <img src="/FOTlogo2.svg" class="h-8 me-3" alt="Fresh On Time Logo" />
          <span
            class="self-center text-2xl font-semibold whitespace-nowrap uppercase"
            >Fresh on Time</span
          >
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">
            FRESH ON TIME
          </h2>
          <ul class="text-gray-500 font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">About Us</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Gift Cards</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Blog</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Food Safety</a>
            </li>
          </ul>
        </div>

        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">
            Help
          </h2>
          <ul class="text-gray-500 font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Contact Us</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Delivery Information</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">FAQ</a>
            </li>
          </ul>
        </div>

        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">
            Legal
          </h2>
          <ul class="text-gray-500 font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Privacy Policy</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Terms &amp; Conditions</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Customer Agreement</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center"
        >© {{ currentYear }}
        <a href="#" class="hover:underline">Fresh On Time™</a>. All Rights
        Reserved.
      </span>
      <div class="flex mt-4 sm:justify-center gap-2 sm:mt-0">
        <a href="#" class="text-gray-500 hover:text-gray-900">
          <i class="pi pi-facebook"></i>
          <span class="sr-only">Facebook page</span>
        </a>
        <a href="#" class="text-gray-500 hover:text-gray-900">
          <i class="pi pi-instagram"></i>
          <span class="sr-only">Instagram page</span>
        </a>
        <a href="#" class="text-gray-500 hover:text-gray-900">
          <i class="pi pi-youtube"></i>
          <span class="sr-only">YouTube page</span>
        </a>
      </div>
    </div>
  </div>
</footer>
