<form
  [formGroup]="orderForm"
  (ngSubmit)="createOrder()"
  class="w-full max-w-[306px] mx-auto"
>
  <p-button
    label="Create Order"
    [fluid]="true"
    type="submit"
    [disabled]="orderForm.invalid || bag === null || bag.items.length === 0"
  />
  <div class="flex mt-2 justify-center">
    <p-datepicker
      id="orderDate"
      formControlName="orderDate"
      [inline]="true"
      [minDate]="minOrderDate"
      [maxDate]="maxOrderDate"
    />
  </div>
  <div
    *ngIf="
      orderForm.get('orderDate')?.invalid && orderForm.get('orderDate')?.touched
    "
    class="text-red-500 text-sm"
  >
    Order date is required.
  </div>
  <div *ngIf="orderError" class="text-red-500 text-sm">
    {{ orderError }}
  </div>
</form>
