<section class="bg-gray-50">
  <div
    class="flex flex-col items-center justify-center px-2 sm:px-6 py-8 mx-auto min-h-screen"
  >
    <p-card
      class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <a href="#" class="mb-6">
          <img
            class="h-12 object-contain mx-auto"
            src="/FOTlogo6.svg"
            alt="logo"
          />
        </a>
        <h1
          class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
        >
          Sign in to your account
        </h1>
        <form class="space-y-4" [formGroup]="loginForm" (ngSubmit)="signIn()">
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900"
            >
              Your Email
            </label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="name@domain.com"
              required
              fluid
              pInputText
              formControlName="email"
              autocomplete="email"
            />
            <small
              class="text-red-500"
              *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched"
            >
              Email is required
            </small>
            <small
              class="text-red-500"
              *ngIf="loginForm.get('email')?.errors?.['email'] && loginForm.get('email')?.touched"
            >
              Please enter a valid email address
            </small>
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900"
            >
              Password
            </label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              required
              fluid
              pInputText
              formControlName="password"
            />
            <small
              class="text-red-500"
              *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched"
            >
              Password is required
            </small>
            <small
              class="text-red-500"
              *ngIf="loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.touched"
            >
              Password must be at least 8 characters
            </small>
          </div>

          <div *ngIf="loginError" class="text-red-500 text-sm">
            {{ loginError }}
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <p-checkbox
                  id="rememberMe"
                  [binary]="true"
                  formControlName="rememberMe"
                  name="rememberMe"
                />
              </div>
              <div class="ml-3 text-sm">
                <label for="remember" class="text-gray-500">Remember me</label>
              </div>
            </div>
            <a
              href="#"
              class="text-sm font-medium text-primary-600 hover:underline"
              >Forgot password?</a
            >
          </div>
          <button pButton type="submit" fluid>Sign in</button>
          <p class="text-sm font-light text-gray-500">
            Don’t have an account yet?
            <a
              href="sign-up"
              class="font-medium text-primary-600 hover:underline"
              >Sign up</a
            >
          </p>
        </form>
      </div>
    </p-card>
  </div>
</section>
